.head {
    background-color: #ffdc00;
    border-bottom: 1px solid #eee;
    display: -webkit-flex;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.head a {
    background-image: none;
    color: #000;
}
.logo{
    height: 100px;
    margin: 30px 0;

}
.head nav {
    width: 100%;
    background: #FFF;
}
.nav {
    max-width: 1000px;
    padding: 10px 0;
    margin: 0 auto;

}
.nav a {
    padding: 10px 20px;
}
.active {
    border-bottom: 3px solid #ffdc00;
}
.filxed {
    width: 100%;
    position: fixed;
    top: -169px;
}